{% extends 'layout.html.twig' %}

{% block title %}Hello PersonController!{% endblock %}

{% block main %}

    <a href="{{ path('add_person') }}" class="btn btn-success">Add Person</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Login</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">State</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for data in personData %}
        <tr>
            <th scope="row">{{ data.id }}</th>
            <td>{{ data.login }}</td>
            <td>{{ data.fname }}</td>
            <td>{{ data.lname }}</td>
            {% if data.state == 1 %}
                <td>aktywny</td>
            {% elseif data.state == 2 %}
                <td>banned</td>
            {% else %}
                <td>usuniety</td>
            {% endif %}

            <td><a href="#" class="btn btn-primary">Edytuj</a> <a href="#" class="btn btn-danger">Usuń</a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
